<!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">-->

        <title>Sign Up</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container justify-content-center w-50 p-3" style="background-color: #eeeeee; margin-top: 5em;">
            <div class="form-group">
                <label><a th:href="@{/login}">Back to Login</a></label>
            </div>

            <h1 class="display-5">Sign Up</h1>
            <form th:action="@{/signup}" method="POST" th:object="${userForm}">
                <div id="success-msg" th:if="${success}" class="alert alert-dark">
                    You successfully signed up! Please continue to the <a th:href="@{/login}">login</a> page.
                </div>
               
               
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				  <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
				</ul>

                <div class="form-row">
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="inputFirstName">First Name</label>-->
<!--                        <input type="input" th:field="*{firstName}" name="firstName" class="form-control" id="inputFirstName" placeholder="Enter First Name" maxlength="20" required>-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="inputLastName">Last Name</label>-->
<!--                        <input type="input" th:field="*{lastName}" name="lastName" class="form-control" id="inputLastName" placeholder="Enter Last Name" maxlength="20" required>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="input" th:field="*{email}" name="email" class="form-control" id="inputEmail" placeholder="Enter Email" maxlength="20" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Password</label>
                        <input type="password" th:field="*{password}" name="password" class="form-control" id="inputPassword" placeholder="Enter Password" maxlength="20" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="confirmPassword">Re-enter Password</label>
                        <input type="password" th:field="*{confirmPassword}" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Enter Password" maxlength="20" required>
                    </div>
                    <input type="hidden" th:field="*{role}" th:value="USER">
                </div>
                <button type="submit" class="btn btn-primary" id="buttonSignUp">Sign Up</button>
            </form>
        </div>
    </body>
</html>
